.bgprimary {
background-color: #124e93!important;
  margin-bottom: 25px;
}
.navbar-brand {
color: #cfcfcf!important;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
color: #cfcfcf!important;
}