.container {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px
}
h1 {
  text-align: center;
  color: #cfcfcf
}
.card {
  margin-bottom: 25px;
}
.cardimg {
  max-width: 100%;
  height:200px;
  object-fit: cover;
}
.p {
  color: #000!important;
}